<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hatenablog.zyxwv.androidas">

    <permission android:name="com.hatenablog.zyxwv.androidas.permission.READ_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.hatenablog.zyxwv.androidas.permission.READ_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MessageActivity" />

        <provider
            android:name=".MessageProvider"
            android:authorities="com.hatenablog.zyxwv.androidas.message_provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.hatenablog.zyxwv.androidas.permission.READ_MESSAGE" />

        <service android:name=".MessageService" android:permission="com.hatenablog.zyxwv.androidas.permission.READ_MESSAGE">
            <intent-filter>
                <action android:name="com.hatenablog.zyxwv.androidas.ACTION_BIND" />
            </intent-filter>
        </service>

    </application>

</manifest>